<div class="row">
    <div class="col-lg-5 col-md-3 col-sm-1"></div>

    <div class="col-lg-2 col-md-6 col-sm-10">
        <div class="panel login-panel">

            <div class="panel-heading">
                <img src="/images/DeskLogs-Login.png"/>
            </div>
            <!-- / .panel-heading -->

            <div class="panel-body">
                <form class="form-group">
                    <fieldset class="form-group">
                        <legend>DeskLogs Application Login</legend>

                    <div class="form-group">
                        <label class="control-label" for="sso">SSO</label>
                        <input ng-model="login.sso" id="sso" class="form-control input-md"
                               type="text" name="sso" placeholder="ex. 123456789"/>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label class="control-label" for="pw">Password</label>
                        <input ng-model="login.pw" id="pw" class="form-control input-md"
                               type="password" name="password"/>
                    </div>


                    <div class="row">
                        <!--<div class="col-sm-7">
                            <p class="error" ng-bind="login.error"></p>
                        </div>-->
                        <div class="col-sm-12">
                            <button ng-click="submit()" id="login_button" name="login"
                                    class="btn btn-success btn-block">Login
                            </button>
                        </div>
                    </div>
                    <!-- / .row -->
                    </fieldset>
                    <!-- SSO -->
                </form>
                <!-- / form.form-group -->
            </div>
            <!-- / .panel-body -->
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <!--<a href="/#/forgot" title="Reset your password">Forgot My Password</a> -->
                        <a href="/#/signup" title="Register for DeskLogs">Sign Up for an Account</a>
                    </div>
                </div>
            </div><!-- / .panel-footer -->
        </div>
        <!-- / .panel ng-controller -->
    </div>
    <!-- / .col-sm-2 -->
    <div class="col-lg-5 col-md-3 col-sm-1"></div>
</div>